<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ohdoking.dansoondiary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".DansoonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailDiaryActivity"
            android:label="@string/title_activity_detail_diary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WriteDiaryActivity"
            android:label="@string/title_activity_write_diary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.IconListActivity"
            android:label="@string/title_activity_icon_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.StaticsActivity"
            android:label="@string/title_activity_statics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainListActivity"
            android:label="@string/title_activity_main_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ModiDiaryActivity"
            android:label="@string/title_activity_modi_diary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.PasswordActivity"></activity>
    </application>

</manifest>
